#wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    --menu-size: 8%;
    --toolbar-size: 7%;
    grid-template-rows: var(--menu-size) 2px var(--toolbar-size) 2px minmax(0, 1fr);
}

#wrapper.shrink-menubar {
    --menu-size: min-content;
}
#wrapper.shrink-toolbar {
    --toolbar-size: min-content;
}

#collapsed-command-menu, #collapsed-tool-menu {
    display: none;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}
#collapsed-command-menu p, #collapsed-tool-menu p {
    padding: 0;
    margin: 0;
    font-size: 8pt;
    cursor: pointer;
    user-select: none;
}

.shrink-menubar #collapsed-command-menu, .shrink-toolbar #collapsed-tool-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.shrink-menubar #command-menu, .shrink-toolbar #tool-menu {
    display: none;
}

#render-wrapper {
    width: 100%;
    height: 100%;
}

#render {
    width: 100%;
    height: 100%;
    display: block;
}

#graph-info-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#graph-info-box {
    background-color: var(--overlay-box);
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#graph-info-box span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#graph-info-box p {
    margin-left: 1vw;
}

#close-info-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 7%;
    transition: linear 0.1s backdrop-filter;
    padding: 1vw;
}
#close-info-box:hover {
    backdrop-filter: brightness(105%);
}

#close-info-box path {
    stroke: var(--accent);
}