#command-menu h1 {
    padding: 0 2vw;
}

#command-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--primary);
}

#command-menu > * {
    background-color: var(--primary);
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--accent);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown span {
    min-width: 10vw;
    max-width: 20vw;
    width: max-content;
    height: inherit;
    padding: 0.5vh 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.dropdown h3 {
    width: 100%;
    height: max-content;
    text-overflow: ellipsis;
    text-align: center;
}
.dropdown > div > * {
    width: 100%;
    height: inherit;
    padding: 0.7vh 2vw;
    box-sizing: border-box;
    border-bottom: 1px solid var(--accent);
}
.dropdown > div {
    display: none;
    background-color: var(--secondary);
    width: max-content;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
}
.dropdown:hover > div {
    display: block;
}

#tool-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

.border-line {
    background-color: var(--accent);
    width: 100%;
    height: 2px;
    display: block;
}

#tool-menu button {
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1vh 1vw;
    padding: 0;
    aspect-ratio: 1/1;
    box-sizing: content-box;
    background-color: transparent;
}

.spacer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#vertex-btn {
    background-image: url("../img/VertexIcon.png");
}
#edge-btn {
    background-image: url("../img/EdgeIcon.png");
}
#edge-cap-btn {
    background-image: url("../img/EdgeCapIcon.png");
}
#label-btn {
    background-image: url("../img/LabelIcon.png");
}
#select-btn {
    background-image: url("../img/SelectIcon.png");
}
#eraser-btn {
    background-image: url("../img/EraserIcon.png");
}
#transform-btn {
    background-image: url("../img/TransformIcon.png");
}
#split-btn {
    background-image: url("../img/SplitIcon.png");
}
#merge-btn {
    background-image: url("../img/MergeIcon.png");
}

#tool-menu .selected-tool {
    border: 2px solid var(--text);
    background-color: var(--accent);
}